<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>ジビエ調理法検索</title>
</head>
<body>
    <h1>ジビエ料理の調理方法検索</h1>
    <form onsubmit="seachRecipe(); return false;">
        <input type="text" id="dishInput" placeholder="例：シカ">
        <button type="submit">検索</button>
    </form>
<div id="result"></div>
    
<script>
    function seachRecipe() {
        const dish = document.getElementById('dishInput').value;
        fetch('/api/recipe?dish=${dish}')
            .then(res => res.json())
            .then(data => {
                document.getElementById('result').innerText = Json.stringify(data,null,2);
            });
    }
</script>    
</body>
</html>




